.flex-container {
  background-color: rgb(190, 190, 231);
}
.flex-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: purple;
  padding: 10px;
  margin: 1px;
  font-size: 50px;
  text-align: center;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 1 */

/* Flex Container 2 */

/* Flex Container 3 */

/* use height: 400px; on the container */

/* Flex Container 4 */

/* Flex Container 5 */

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
}

/* use height: 300px; on the container */
